* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(235, 18%, 26%);
  font-family: 'Arial', sans-serif;
}

.container {
  width: 500px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  background: white;
.content {
  margin-top: 50px;
  padding: 30px;
width: 50%;
  h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: hsl(234, 29%, 20%);
  }

  p {
    margin-bottom: 20px;
    color: hsl(231, 7%, 60%);
  }

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;

    li {
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-bottom: 10px;
      color: hsl(234, 29%, 20%);
    }

    .input-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }

    input {
      padding: 10px;
      width: 300px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 5px;
    }

    input.error {
      border-color: hsl(4, 100%, 67%);
      background-color: hsl(4, 100%, 93%);
    }

    .error-message {
      color: hsl(4, 100%, 67%);
      font-size: 0.875rem;
      margin-top: -5px;
      margin-bottom: 10px;
    }

    button {
      border-radius: 5px;
      text-decoration: none;
      color: white;
      background: hsl(234, 29%, 20%);
      width: 320px;
      padding: 10px;
      border: none;
      cursor: pointer;

      &:hover {
        background: linear-gradient(to right, hsl(4, 92%, 54%), hsl(4, 100%, 67%), hsl(4, 57%, 71%));
      }
      
    }
  }
}

.image {
    width: 50%;
    
  .desktopImage {
    display: block;
    width: 100%;
    height: 500px;
  }

  .mobileImage {
    display: none;
  }
}
}
@media (max-width: 800px) {
  .container {
    align-items: center;
    display: flex;
    border-radius: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;

    .content {
      order: 2;
      margin: 0;
      padding: 20px;
   width: 100%;
      form {
        input {
          width: 100%;
        }

        button {
          width: 100%;
          border: none;
        }
      }
    }

    .image {
        width: 100%;
      .desktopImage {
        display: none;
      }

      .mobileImage {
        width: 100%;
        display: block;
      }
    }
  }
}
